<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="cat-buttons">
  <ion-button *ngFor="let categorie of categories" size="small" [ngStyle]="{'background-color': 
  buttonColor}" (click)="onClickCategorie(categorie)">{{categorie}}</ion-button>
  <ion-button size="small" (click)="getPanneaux()">Toutes</ion-button>
</div>

      <div *ngFor="let panneau of panneaux" class="panneau-img" (click)="onClickPanneau(panneau.id)">
          <img [src]="panneau.img">
        </div>
</ion-content>
